h1 {text-align:center;color:green;font-family:arial,helvetica;}

#time {font-size:16pt;color:red;font-style:italic;font-weight:bold;font-family:arial,helvetica;}

#warning {font:italic bold 14pt arial,helvetica;color:red;}
